.ctaButton {
	height: fit-content;
	min-width: fit-content;
	background-color: #DBAA6F;
	color: black;
	border-radius: 20px;
	border: none;
	font-size: large;
	font-weight: bold;
	padding: 10px 48px;
	margin-top: 20px;
}

.ctaButton:hover {
	background-color: black;
	color: whitesmoke;
	cursor: pointer
}