footer {
	background-color: #31928F;
	color: whitesmoke;
	padding: 24px 0;
	display: flex;
	flex-direction: column;
	align-items: center;
	width: 100%;
}

footer a, footer a:hover, footer a:visited {
	text-decoration: none;
	color: whitesmoke;
	font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

footer #footerNav > a{
	text-decoration: none;
	display: block;
	width: 100%;
	text-align: center;
	font-size: large;
	margin: 16px 0;
}

footer #footerNav > a:hover{
	cursor: pointer;
	text-decoration: underline;
}	