#header {
    background-color: rgba(238, 238, 238, 0.9);
    text-align: center;
    margin: 0px;
    width: 100%;
    padding-top: 12px;
}

#mobileLogo {
    display: none;
}

#hamburger {
    display: none;
}

@media screen and (max-width: 845px) {
	#header {
		position: sticky;
		top: 0;
        z-index: 1000;
		background-color: rgba(238, 238, 238, 0.80);
		backdrop-filter: blur(24px);
		-webkit-backdrop-filter: blur(24px);
		display: flex;
		flex-direction: row;
		justify-content: space-between;
        align-items: center;
        width: 100%;
        height: 92px;
        padding-top: 0px;
	}

    #desktopLogo {
        display: none;
    }

    #mobileLogo {
        display: block;
		padding: 12px 20px;
        width: 85%;
    }

    #hamburger {
        height: 50px;
        width: auto;
        display: block;
        padding: 12px;
        transition: transform 0.3s ease;
        cursor: pointer; 
    }

    #hamburger.rotate {
        transform: rotate(90deg);
    }
}