.heroSection {
	display: flex;
	min-height: 70vh;
	height: 80%;
	width: 100%;
}

.heroSection > #heroPicture {
	padding-bottom: 28px;
	min-width: 50%;
	max-width: 50vw;
	z-index: 2;
}

.heroSection > #heroPicture > img {
	border-bottom-right-radius: 32px;
	max-height: 70vh;
    width: 100%;
    height: 100%;
	object-fit: cover;
}

.heroSection > #heroText {
	background-color: #31928F;
	border-bottom-left-radius: 32px;
	margin-left: -10vw;
	padding-left: 14vw;
	padding-right: 10vw;
	width: 100vw;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: flex-start;
	padding-bottom: 36px;
}

.heroSection > #heroText > h1 {
	font-size: xxx-large;
	margin: 20px 0;
}

.heroSection > #heroText p {
	font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
	font-size: large;
}

.titleHighlight {
	color: whitesmoke;
	text-transform: uppercase;
	font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
	font-size: smaller;
}

@media screen and (max-width: 480px) {
	.heroSection {
		display: block;
		min-height: 70vh;
		height: 80%;
		width: 100%;
	}
	
	.heroSection > #heroPicture {
		padding: 0;
		margin: 0;
		margin-bottom: -5px;
		width: 100%;
		min-width: 100%;
		max-width: 100%;
	}
	
	.heroSection > #heroPicture > img {
		border-radius: 0%;
	}

	.heroSection > #heroText {
		border-radius: 0%;
		margin: 0;
		padding: 0;
		padding: 24px 0;
		width: 100%;
		display: block;
	}

	.heroSection > #heroText > h1 {
		font-size: xx-large;
		padding: 0 20px;
		margin: 0
	}

	.heroSection > #heroText > p {
		padding: 0 20px;
	}

	.heroSection > #heroText > .ctaButton {
		margin-left: 20px;
		margin-top: 8px;
	}
}