.heroSection {
	display: flex;
	min-height: 70vh;
	height: 80%;
	width: 100%;
}

.heroSection > #heroPicture {
	padding-bottom: 28px;
	min-height: 50vh;
	min-width: 50%;
	z-index: 2;
}

.heroSection > #heroPicture > img {
	border-bottom-right-radius: 20px;
    width: 100%;
    height: 100%;
	object-fit: cover;
}

.heroSection > #heroText {
	background-color: #31928F;
	border-bottom-left-radius: 20px;
	margin-left: -10vw;
	padding-left: 14vw;
	padding-right: 10vw;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: flex-start;
	padding-bottom: 36px;
}

.heroSection > #heroText > h1 {
	font-size: xxx-large;
	margin: 20px 0;
}

.heroSection > #heroText p {
	font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
	font-size: large;
}

.titleHighlight {
	color: whitesmoke;
	text-transform: uppercase;
	font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
	font-size: smaller;
}