.icons {
	display: flex;
	flex-direction: row;
	justify-content: space-around;
}

.icon {
	margin: 0 12px;
	display: flex;
	flex-direction: column;
	align-items: center;
}

.icon img {
	height: 100px;
	width: 100px;
	border-radius: 100%;
}

.icon h3 {
	margin: 0;
	margin-top: 24px;
	margin-bottom: 8px;
	text-align: center;
	font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
	font-weight: bold;
	font-size: 24px;
}

.icon p {
	margin: 0;
	text-align: center;
}

.iconHighlight {
	color: #31928F
}