.keyPoints {
	width: 70%;
	max-width: 960px;
	display: flex;
	flex-direction: column;
	align-items: center;
}

.keyPoints .keyPoint {
	display:flex;
}
.keyPoints .keyPointRev {
	display:flex;
	flex-direction: row-reverse;
}

.keyPointPicture {
	width: 50%;
	display:flex;
}

.keyPointPicture > img {
	width: 100%;
	height: 100%;
	border-radius: 32px;
	object-fit: cover;
}

.keyPointText {
	width: 50%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	padding: 16px 0;
}

.keyPointText > h3,
.keyPointText > p {
	padding: 0 20px;
	margin: 8px;
}

.keyPoints > .ctaButton {
	margin-top: 28px;
	min-width: fit-content;
}

@media screen and (max-width: 480px) {
	.keyPoints .keyPoint {
		display:flex;
		flex-direction: column;
	}

	.keyPoints .keyPointRev {
		display:flex;
		flex-direction: column;
	}

	.keyPointPicture {
		width: 100%;
		display:flex;
	}

	.keyPointText {
		width: 100%;
		display: flex;
		flex-direction: column;
		justify-content: center;
		padding: 16px 0;
	}
}