#landingTitle {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	margin: 2.5rem auto 2.5rem auto;
	width: 80%;
}

#landingTitle h1 {
	font-size: xx-large;
	text-align: center;
	padding: 2.5rem 2rem;
	border-radius: 32px;
	border: 1px solid lightgray;
	width: 100%;
	max-width: 1100px;
	display: block;
}

.titleHighlight {
	color: #31928F;
	text-transform: uppercase;
	font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
	font-weight: 600;
}

#landingMain {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin: 0 auto 3rem auto;
}

.textAndPicture {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 4rem;
    width: 100%;
    max-width: 1400px;
}

#bulletPoints h2,
.textSection h2 {
    text-align: left;
	color: black;
}

#textBrown {
	color: #DBAA6F;
	font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
	font-weight: 600;
}

#textBlue {
	color: #31928F;
	font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
	font-weight: 600;
}

.ctaButtons {
    display: flex;
    gap: 1rem;
    margin-top: 2.5rem;
}

.ctaButton {
	background: #31928F;
	color: white
}

.ctaButton:last-child {
    background: rgba(238, 238, 238);
    color: black;
}

.ctaButton:hover {
    background: black;
	color: white;
}

.ctaButton:last-child:hover {
    background: black;
	color: white;
}

.textSection h2 {
    margin-bottom: 24px;
}

.textSection p {
    margin-bottom: 12px;
}

.textSection .ctaButtons {
    margin-top: 2rem;
}

.textAndPicture img {
    width: 420px;
    height: 420px;
    object-fit: cover;
    border-radius: 32px;
}

#bulletPoints ul {
    list-style: none;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1.5rem 3rem;
    padding: 0;
    margin: 0;
}

#bulletPoints li {
    display: flex;
    align-items: center;
	font-size: large;
	font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif
}

#bulletPoints li img {
    width: 24px;
    height: 24px;
    margin-right: 1.2rem;
}

#iconsSection {
	width: 100%;
}

#iconsSection h2 {
	text-align: center;
	color: black;
}

#iconsSection ul {
    display: flex;
    justify-content: space-between;
	width: 100%;
    gap: 2rem;
    list-style: none;
}

#iconsSection li {
    background: none;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 100%;
}

#iconsSection li img {
    width: 60px;
    height: 60px;
    margin-bottom: 1.5rem;
}

#iconsSection li h3 {
    font-size: larger;
    text-align: left;
    width: 100%;
	padding-left: 0;
	margin-left: 0;
}

#iconsSection li p {
    color: black;
    margin: 0;
    line-height: 1.3;
}