.method h1 {
	font-size: 128px;
	color: #31928F;
	margin: 0;
}

.method h2 {
	text-align: left;
	margin: 0;
}

.method {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

.methodHero {
	display: flex;
	flex-direction: row;
	align-items: center;
	margin-bottom: 12%;
	width:fit-content;
	width: 80%;
}

.methodHero > img {
	width: 40%;
	max-width: 600px;
	border-radius: 32px;
}

.methodHero > #methodHeroText {
	margin-bottom: 5%;
}

.methodHero > #methodHeroText > h2,
.methodHero > #methodHeroText > p {
	padding: 0 24px;
	min-width: 400px;
}

.methodBlock {
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: top;
	width: 100%;
	min-width: 300px;
	padding: 24px;
	height: auto;
	margin-top: -12%;
}

.methodText {
	width: 25%;
	min-width: 400px;
}

.methodBlockRev {
	display: flex;
	flex-direction: row-reverse;
	justify-content: center;
	align-items: top;
	width: 100%;
	min-width: 300px;
	padding: 24px;
	height: auto;
	margin: -6% 0;
}

.methodTextRev {
	width: 25%;
	min-width: 400px;
}

#line1 {
	object-fit: fill;
	height: 12vw;
	width: 50%;
	margin-top: -8%;
	margin-left: -300px;
}

#line2 {
	object-fit: fill;
	height: 12vw;
	width: 25%;
	margin-top: 5%;
	margin-right: 24px
}

#line3 {
	object-fit: fill;
	height: 8vw;
	width: 30%;
	margin-top: 8%;
	margin-left: 24px;
}

#block3 {
	margin: 4% 0;
}

#pairOfLines {
	display: flex;
    flex-direction: column;
	justify-content: space-around;
}

#line4,
#line5 {
	object-fit: fill;
	height: 12vw;
	width: 90%;
	margin: 4% 0;
	margin-right: 24px
}

#block5 {
	margin-top: 2%;
	margin-bottom: 4%;
	margin-right: 24%;
}

#line6 {
	object-fit: fill;
	height: 12vw;
	margin-top: 1%;
}