#navBar {
	position: sticky;
	width: 100%;
	top: 0;
	z-index: 1000;
	background-color: rgba(238, 238, 238, 0.80);
	backdrop-filter: blur(24px);
	-webkit-backdrop-filter: blur(24px);
	display: flex;
    justify-content: center;
    align-items: center;
	padding: 8px 0;
}

#navBar > #navLinks {
	display: flex;
	justify-content: center;
	margin: 0px;
}

#navBar > #navLinks > li {
	text-decoration: none;
	list-style-type: none;
	margin: 0 4px;
	border-radius: 20px;
	transition: background-color 0.3s ease, color 0.3s ease;
}

#navBar > #navLinks > li:hover{
	background-color: #DBAA6F;
	cursor: pointer;
}

#navBar > #navLinks > li:hover > a{
	color: whitesmoke;
}

#navBar #navLinks li a {
	display: block;
	padding: 20px clamp(24px, 3vw, 200px);;
	text-decoration: none;
	color: black;
	font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
	text-transform: uppercase;
	transition: color 0.3s ease;
}

#languageSwitcher {
    position: absolute;
    right: 20px;
    top: 50%;
    transform: translateY(-50%);
    padding: 0px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 14px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

@media screen and (max-width: 480px) {
	#navBar {
		display: none; 
	}
}
