#main-nav {
	position: sticky;
	width: 100%;
	top: 0;
	background-color: rgba(238, 238, 238, 0.9);
	z-index: 1000;
}

#main-nav > ul {
	display: flex;
	justify-content: center;
	margin: 0px;
}

#main-nav > ul > li {
	text-decoration: none;
	list-style-type: none;
	transition: background-color 0.1s ease, color 0.3s ease;
}

#main-nav > ul > li:hover{
	background-color: #DBAA6F;
	cursor: pointer;
}

#main-nav > ul > li:hover > a{
	color: white;
}

#main-nav ul li a {
	display: block;
	padding: 20px 4vw;
	text-decoration: none;
	color: black;
	font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
	text-transform: uppercase;
	transition: color 0.1s ease;
}
