#navBar {
	position: sticky;
	width: 100%;
	top: 0;
	z-index: 1000;
	background-color: rgba(238, 238, 238, 0.9);
	backdrop-filter: blur(2px);
	-webkit-backdrop-filter: blur(2px);
}

#navBar > ul {
	display: flex;
	justify-content: center;
	margin: 0px;
}

#navBar > ul > li {
	text-decoration: none;
	list-style-type: none;
	margin: 0 4px;
	border-radius: 20px;
	transition: background-color 0.3s ease, color 0.3s ease;
}

#navBar > ul > li:hover{
	background-color: #DBAA6F;
	cursor: pointer;
}

#navBar > ul > li:hover > a{
	color: whitesmoke;
}

#navBar ul li a {
	display: block;
	padding: 20px clamp(36px, 4vw, 200px);;
	text-decoration: none;
	color: black;
	font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
	text-transform: uppercase;
	transition: color 0.3s ease;
}
