#packagesHeaders {
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 20px;
	margin: 0;
	padding: 20px;
}

#packagesHeaders li {
	text-decoration: none;
	list-style-type: none;
	padding: 10px 20px;
	border-radius: 32px;
	color: #333;
	font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
	font-size: 1rem;
	text-transform: uppercase;
	transition: background-color 0.3s ease, color 0.3s ease;
	cursor: pointer;
}

#packagesHeaders li:hover {
	background-color: #f4f4f4;
}

#packagesHeaders li.active {
	background-color: #DBAA6F;
	color: white;
}

#packagesContent {
	margin: auto;
	width: 600px;
	display: flex;
	justify-content: center;
	align-items: center;
	height: auto;
}

.packageCard {
	display: none;
	padding: 20px;
	border: 1px solid #ccc;
	border-radius: 32px;
	background-color: #f9f9f9;
	font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
	font-size: 1rem;
	color: #333;
	text-align: center;
}

.packageCard.active {
	display: block;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.packageCard img {
	border-radius: 20px;
	margin-bottom: 20px;
	max-width: 550px;
}

.packageCard p {
	text-align: left;
}

@media screen and (max-width: 845px) {
	h2 {
		z-index: 10;
		position: relative;
	}

    #packagesHeaders {
        flex-direction: row;
        gap: 10px;
        padding: 10px;
		justify-content: left;
        overflow-x: auto;
        white-space: nowrap;
		position: relative;
		z-index: 1
    }

	#packagesHeaders::after {
        content: '';
        position: fixed;
        top: 92px;
        right: 10%;
        width: 50px;
        height: 200px;
        background: linear-gradient(to left, white, rgba(255, 255, 255, 0));
        pointer-events: none;
		z-index: 0;
	}

    #packagesHeaders li {
        flex: 0 0 auto;
        text-align: center;
    }
	
    #packagesContent {
		width: 90%;
        margin: 20px auto;
    }
	
    .packageCard {
		padding: 15px;
		z-index: 10;
    }

    .packageCard img {
        width: 100%;
        height: auto;
    }

    .packageCard p {
        font-size: 0.9rem;
    }

	.faqSection {
		z-index: 10;
		position: relative;
	}
}