body {
	margin: 0;
	padding: 0;
	min-height: 100vh;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;
	width: 100%;
	/* min-width: 834px; // TODO To change later on, so far not handling 480-834px */
}

body h2 {
	color: #31928F;
	font-size: xx-large;
	text-align: center;
}

body h3 {
	padding: 0 4vw;
	margin: 8px;
	font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
	font-weight: bold;
	font-size: x-large;
}

body h5 {
	margin: 30px 20px;
	font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
	font-weight: bold;
}

body p {
	font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

content {
	width: 100%;
	display: flex;
    flex-direction: column;
    justify-content: center;
	align-items: center;
	flex-grow: 1;
}

.contentBlock {
	max-width: 80%;
	margin: 36px 0;
}