.whoAmI {
	display: flex;
	width: 60%;
	min-width: 600px;
}

.whoAmI > img {
	max-width: 30%;
	border-radius: 20px;
    object-fit: cover;
	min-width: 250px;
	height: auto;
	margin: 48px 0;
}

.whoAmI > #whoAmIText {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: flex-start;
	padding-left: 4vw;
}

.whoAmI > #whoAmIText > h2 {
	text-align: start;
}

.whoAmI > #whoAmIText > .ctaButton {
	background-color: #31928F;
	color: white;
	min-width: fit-content;
}

.whoAmI > #whoAmIText > .ctaButton:hover {
	background-color: black;
	color: white;
}