.whoAmI {
	display: flex;
	width: 60%;
	min-width: 600px;
	max-width: 2000px;
}

.whoAmI > img {
	max-width: 30%;
	border-radius: 32px;
	object-fit: cover;
	min-width: 250px;
	height: auto;
	margin: 48px 0;
}

.whoAmI > #whoAmIText {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: flex-start;
	padding-left: 24px;
}

.whoAmI > #whoAmIText > h2 {
	text-align: start;
}

.whoAmI > #whoAmIText .ctaButton {
	background-color: #31928F;
	color: whitesmoke;
	min-width: fit-content;
}

.whoAmI > #whoAmIText .ctaButton:hover {
	background-color: black;
	color: whitesmoke;
}

@media screen and (max-width: 480px) {
	.whoAmI {
		display: flex;
		flex-direction: column;
		width: 80%;
		min-width: 0;
		max-width: none;
		align-items: center;
	}

	.whoAmI > img {
		width: 75%;
		max-width: 100%;
		border-radius: 32px;
		object-fit: cover;
		height: auto;
		margin: 0;
	}

	.whoAmI > #whoAmIText {
		align-items: center;
		padding-left: 0;
	}
}